<div class="bg-secondary m-2 p-3 rounded">
  <p>
    Bacon ipsum dolor amet turkey beef shankle, pork loin chicken pork chop shank biltong turducken pig meatloaf leberkas frankfurter kevin.
    Ball tip beef fatback swine, chicken capicola t-bone hamburger shankle andouille. Meatloaf pork loin spare ribs porchetta, swine landjaeger
    venison sirloin pancetta. Cow turducken buffalo swine capicola kevin. Swine short ribs boudin turkey, sirloin sausage beef venison rump bresaola
    strip steak ball tip hamburger. Doner sirloin tri-tip porchetta t-bone ham.
  </p>
</div>